<html>
<head>
<title>Cloud Shell WEB</title>
<link rel="stylesheet" href="layout.css" type="text/css"></link>
<link href="js/jquery-ui.css" rel="stylesheet" type="text/css"></link>
<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jQote2/jquery.jqote2.js"></script>
</head>

<body>

<!-- The user's header -->
<div id="body">

<div id="header">
	<img id="logo" src="logo.png" />
	<div id="user-info">
	Logged in as X (<a id="signout" href="/manage/vps/logout.html">sign out</a>)
	</div>
</div>

<!-- Instance list -->
<div id="instance-list-panel">
<ul>
<li>Instance List:</li>
</ul>
</div>

<!-- Information about an instance -->
<div id="instance-info-panel">
You should never see this.
</div>

<div id="footer">
	Copyright &copy; 2010, GrokThis.net, VPS Village<sup>TM</sup>. All rights reserved.
</div>

<div id="result">
</div>

</div><!-- /body -->

<script type="text/html" id="template-container">
<![CDATA[
<div class="<%= this.class %>">
<%= this.content %>
</div>
]]>
</script>


<script type="text/html" id="template-instance-list-entry">
<![CDATA[
 <li title="<%= this.id %>">
  <u><%= this.type %></u><br/>
  Instance ID: <%= this.id %><br/>
  RAM: <%= this.ram %>MB, Disk: <%= "this.disk" %>GB
 </li>
]]>
</script>

<script type="text/html" id="template-instance-null">
<![CDATA[
  Please select an instance from the left-hand navigation.<hr/>

]]>
</script>

<script type="text/html" id="template-instance-notes">
<![CDATA[
<!-- Load Notes -->
<h2>Notes</h2>
<form onsubmit="
	var ta=$(textarea).text;
	var txt=ta.text();
	ta.fadeOut();
	pre.text(txt).fadeIn()
">
<a onclick="
	var pre=$('pre');
	$(pre).fadeOut(100, function() {
		$('textarea').val($(pre).text()).parent().fadeIn();
	});
	//.fadeIn();
">edit</a>
<pre>
<%= this.content %>
</pre>
<div class="hidden">
<textarea></textarea>
<button value="Done" onclick="submit()">Done</button>
</div>
</form>
]]>
</script>

<script type="text/html" id="template-instance">
<![CDATA[
  <div class="padded">
  <h2>Instance ID: <%= this.instance %></h2>
  <div id="tabs">
   <ul>
   <li><a href="instance-control"><span>Manage</span></a></li>
   <!--<li><a href="instance-access"><span>Access</span></a></li>
   <li><a href="instance-security"><span>Security</span></a></li>-->

   <!--<li><a href="instance-billing"><span>Billing</span></a></li>-->
   <!--<li><a href="instance-history"><span>History</span></a></li>-->

   <!--<li><a href="instance-backups"><span>Backups</span></a></li>
   <li><a href="instance-notes"><span>Notes</span></a></li>
   <li><a href="instance-scripts"><span>Scripts</span></a></li>-->
   </ul>
  </div>
  </div>
]]>
</script>

<script type="text/html" id="template-instance-backups">
<![CDATA[
 <h2>Archives</h2>
 <table>
 <tr>
  <th>Archive Description</th>
  <th>Date</th>
  <th>Size</th>
 </tr>
 <tr>
  <td>Example</td><td>1970-1-1</td><td>10GB</td><td><a>Download</a> <a>Send to...</a></td>
 </tr>
 </table>
 <button>Schedule</button>
 <button>Create new</button>

]]>
</script>


<script type="text/html" id="template-instance-security">
<![CDATA[
 <button>Anti-Virus Scan</button>
 <button>Secure-Disk Wipe</button>
 <button>IP Transit Report</button>
]]>
</script>

<script type="text/html" id="template-instance-access">
<![CDATA[
 Username: <%= this.user %><br/>
 <button>Change Password</button>
 <hr/>
 SSH Keys:<br/>
 <table>
 <tr><th>Key Description</th><th>Type</th><th>Length</th></tr>
 </table>
 <button>Paste new key</button>  
 <button>Upload new key</button>  
]]>

<script type="text/html" id="template-instance-scripts">
<![CDATA[
 <div id="instance-scripts">
 <h2>Saved Scripts</h2>
 <table>
  <tr>
  <th>Name</th>
  <th>Language</th>
  <th>Size</th>
  <th><!-- Actions --></th>
  </tr>
  <%= this.scripts %>
 </table>

 <button>Scheduler</button>
 <button>Find scripts</button>
 <button>Upload new script</button>
 </div>
]]>
</script>


<script type="text/html" id="template-instance-control">
<![CDATA[
  <form>
   Instance id: <%= this.instance %><br/>
   <span title="Disabled options may become available by changing the status">Status: <span id="instance-control-status">FETCHING...</span>

   <!--<select>
    <option>Running</option>
    <option>Reboot</option>
    <option>Shutdown</option>
    <option>Power-Off</option>
    <option>Delete</option>
   </select>-->
   </span>
  </form>
  <hr/>
  <div class="instance-info">
	<div class="rightcol">
	<ul>
	<li>Runtime Averages (history)</li>
	<li>Uptime: <span id="instance-control-uptime">FETCHING...</span></li>
	<!--<li>CPU Utilization: XXX %</li>
	<li>Network I/O: XXX %</li>
	<li>Disk I/O: XXX</li>-->
	</ul>

	<ul>
	<li>Network Information</li>
	<!-- Information about this instance. -->
	<li>IPv4 Addresses: (manage)<br/>
		<select id="instance-control-ip4" multiple="multiple">
			<option>FETCHING...</option>
		</select>
	</li>
	<li>IPv6 Subnet: <span id="instance-control-ip6">FETCHING...</span></li>
	</ul>

	</div>

	<div class="leftcol">
	<ul>
	<li>Instance Settings</li>
	<!-- Information about this instance. -->
	<li>Plan: <span id="instance-control-plan">FETCHING...</span></li>
	<li>Memory (RAM): <span id="memslider-val">FETCHING...</span><div id="memslider"></div></li>
	<li>Persistent Storage: <span id="diskslider-val"></span><div id="diskslider"></div></li>
	</ul>
	</div>

	<div class="leftcol">
	<ul>
	<li>OS &amp; Kernel Settings</li>
	<li>Boot Loader: <span id="instance-control-bootloader">FETCHING...</span> (<a id="bootselect">change</a>)</li>
	<li>Operating System: <span id="instance-control-os">FETCHING...</span></li>
	</ul>
	</div> 
  </div>

  <div class="instance-controls" style="min-height: 5em; padding-top: 1em;">
   <div style="width: 48%; float: right;">
   <button>Install Operating System</button>
   <button>Change Kernel / Bootloader</button>
   <button>Modify IP Addresses</button>
   </div>
   <div style="width: 48%; height: 2em;">
   <button style="height: 5em;">Access Serial Console</button>
   </div>
  </div>


<%
$.getJSON(baseurl+'/instance/'+this.instance+'/status?callback=?',
	function(d){
		$('#instance-control-status').html((d.r[0])?'Running':'Shutdown');
	}
);
$.getJSON(baseurl+'/instance/'+this.instance+'/info?callback=?',
	function(d){
		$('#instance-control-plan').html(d.r[0].plan);
		$('#memslider-val').html(d.r[0].memory+' MB');
		var ip4array=d.r[0].ip4.split(" ");
		$('#instance-control-ip4').children().remove();
		for (var i in ip4array) {
			$('#instance-control-ip4').html("<option>"+ip4array[i]+"</option>");
		};
		var ip6=d.r[0].ip6;
		$('#instance-control-ip6').html(ip6.replace('/0000:/','::'));
		$('#instance-control-bootloader').html(d.r[0].boot_method);
	}
);
$.getJSON(baseurl+'/instance/'+this.instance+'/uptime?callback=?',
	function(d){
		if (d.r[0] == 1) {
			$('#instance-control-uptime').html(d.raw);
		} else {
			$('#instance-control-uptime').html("Offline");
		}
	}
);
$('#memslider').slider( { step: 512, min: 512, max: 4096, slide: function (event, ui) {
$('#memslider-val').text(ui.value+" MB");
	return true;
} } );
$('#diskslider').slider( { step: 16, min: 16, max: 1024, slide: function (event, ui) {
	$('#diskslider-val').text(ui.value+" GB");
	return true;
} } );
%>
]]>
</script>

<script type="text/html" id="instance-settings">
<![CDATA[
   Modify Settings
   
  </div>
  <div class="instance-actions-running">
   <!-- Information only available to a running instance (uptime, etc) -->

  </div>
  <div class="instance-actions-shutdown">
   <!-- Actions for shutdown -->
   Reimage
  </div>
 </div>
]]>
</script>

<script type="text/javascript">
	var baseurl="https://secure.grokthis.net/manage/vps/rest2/";
	var currInstance;

/**
 * Function : dump()
 * Arguments: The data - array,hash(associative array),object
 *    The level - OPTIONAL
 * Returns  : The textual representation of the array.
 * This function was inspired by the print_r function of PHP.
 * This will accept some data as the argument and return a
 * text that will be a more readable version of the
 * array/hash/object that is given.
 * Docs: http://www.openjs.com/scripts/others/dump_function_php_print_r.php
 */
function dump(arr,level) {
	var dumped_text = "";
	if(!level) level = 0;
	
	//The padding given at the beginning of the line.
	var level_padding = "";
	for(var j=0;j<level+1;j++) level_padding += "    ";
	
	if(typeof(arr) == 'object') { //Array/Hashes/Objects 
		for(var item in arr) {
			var value = arr[item];
			
			if(typeof(value) == 'object') { //If it is an array,
				dumped_text += level_padding + "'" + item + "' ...\n";
				dumped_text += dump(value,level+1);
			} else {
				dumped_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
			}
		}
	} else { //Stings/Chars/Numbers etc.
		dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
	}
	return dumped_text;
}

function getURL (u) {
	$.ajax({
		url: u,
		success: function(data) {
			$('#result').html(data);
		},
		async: false,
		dataType: 'html' 
	});
	//alert($('#result').text());
	return $('#result').text();
}

/* On page load */
$(document).ready(function() {
	// Handler for .ready() called.

	//alert(getURL('t/container.html'));
	//var container=getURL('t/container.html');

	// Window height, minus header
	var conheight=$(window).height()-$('#header').outerHeight()-$('#footer').outerHeight();

	/* The instance info panel will
	   be initialized with the instance selector */
	$('#instance-info-panel').jqotesub("#template-container", { content: $('#template-instance-null').jqote( { } ), class: 'padded' })
	//$('#instance-info-panel').jqotesub(container, { content: $('#template-instance-null').jqote( { } ), class: 'padded' })
		.css("height",conheight);

	/* Load the list of instances into the list panel */
	$.getJSON(baseurl+'/instance?callback=?',
		function(d) {
			data=d.r;
			for (key in data) {
				$('#instance-list-panel').jqoteapp('#template-instance-list-entry', { 
					id: data[key].id,
					type: data[key].description,
					ram: data[key].memory
					//disk: data[key].
				/* Selector for the element we just added */
				} ).children(':last').data('instance',data[key].id).click(function() {
					/* Toggle clicked */
					$(this).parent().children().removeClass('clicked');
					$(this).addClass('clicked');
					//currInstance = $(this).attr('id');
					//alert($(this).attr('id'));
					//alert($(this).data('instance-id'));
					currInstance=$(this).data('instance');

					/* Load info panel */
					$('#instance-info-panel').jqotesub($('#template-instance'), {
						/* instance id */
						instance: currInstance
					}).data('instance', currInstance).find("#tabs").tabs( {
						/* Tried using select, but this makes it easier to run load() against this,
						   allowing a default initalization of the tab... */
						load: function(event, ui) {
						 var name=$.data(ui.tab, 'load.tabs');
						 $('#'+ui.panel.id).jqotesub('#template-'+name, { instance: currInstance });

						 return true;
						}
					}).load();

					return false;
				});


			}
		}
	);

	$('#instance-list-panel')
		.css("height",conheight)
		.find('li');
		//$('#instance-list-panel')
		//.children('li')
		//.data('instance', data[key].id)

});

</script>


</body>
</html>
