ul, body, html {
	margin: 0;
	padding: 0;
}

#templates {
	display: none;
}

#user-header {
	float: right;
	display: none;
}

#instance-list-panel {
	float: left;
	height: 100%;
	width: 25%;
	background: black;
	color: white;
	margin: 0;
	padding: 0;
	max-width: 15em;
	list-style: none;
}

#instance-list-panel li:first-child {
	background: inherit;
	color: inherit;
}

#instance-list-panel li {
	padding: .5em;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	background: #dfdfff;
	color: black;
}

#instance-info-panel {
	display: block;
	background: #cacaff;
	width: 100%;
	height: 100%;
}

#instance-list-panel .clicked {
	background: #cacaff;
}
