ul, body, html {
	margin: 0;
	padding: 0;
}

body {
  font-size: 11pt;
}

#templates {
	display: none;
}

#body {
	width: 100%;
	/*height: 100%;*/
	/*overflow: hidden;*/
}

#user-header {
	height: 20em;
}

#instance-list-panel {
	float: left;
	/*height: 100%;*/
	width: 25%;
	background: CornflowerBlue /*black*/;
	color: Snow;
	margin: 0;
	padding: 0;
	max-width: 15em;
	list-style: none;
	/*border-right: 1px solid CornflowerBlue;*/

	overflow: auto;
}

#instance-list-panel li:first-child {
	/*background: inherit;*/
	background: CornflowerBlue;
	color: inherit;
	border: 0;
	/*position: fixed;
	margin-bottom: 5em;*/
}
#instance-list-panel li:last-child {
	border-bottom: 0;
}


#instance-list-panel li {
	padding: .5em;
	/*border-top: 1px solid silver;*/
	/*border-bottom: 1px solid Snow;*/
	background: Lavender /*#dfdfff*/ ;
	border-right: 1px solid silver;
	color: black;
	cursor: pointer;
	margin-bottom: 1px;
	-moz-border-radius-bottomleft: .75em;
	-webkit-border-bottom-left-radius: .75em;
	-moz-user-select: none;
	-khtml-user-select: none;
}

#instance-info-panel {
	/*display: block;*/
	background: Snow /*ThreeDLightShadow*/ /* #dadada */;
	/*width: 75%;*/
	/*height: 100%;*/
	
	overflow: auto;
}

#instance-list-panel .clicked {
	background: GhostWhite /* #cacaff */;
	color: black;
	border-right: 2px solid gold;
}

a {
	text-decoration: underline;
	color: CornflowerBlue;
	cursor: pointer;
}

.hidden {
	display: none;
}

.padded {
	padding: 1em;
}

#header {
	height: 79px;
	padding: 5px;
	border-bottom: 5px solid CornflowerBlue;
}

#logo {
	/*background: url('logo.png');*/
	width: 376px;
	height: 79px;
	border: 0;
}

#user-info {
	float: right;
}

#footer {
	text-align: right;
	background: black;
	color: white;
}

sup { font-size: xx-small; }

.instance-info ul {
	list-style: none;
}
.instance-info ul li:first-child {
	font-weight: bold;
}

.instance-controls button {
	width: 100%;
}

.leftcol { width: 48%; }
.rightcol { float: right; }

#instance-scripts table {
	width: 100%;
	border: 1px inset silver;
}
#instance-scripts table th {
	text-align: left;
	font-weight: bold;
	background: #dadada;
}

#instance-control-ip4 {
	min-width: 10em;
}

.instance-control-status-button {
  display: none;
  font-size: 1.25em;
}
#instance-control-status {
  display: block;
  text-align: right;
}
h2 { text-align: right; }
